@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazir-font/dist/Vazir-Regular.eot');
  src: url('../../node_modules/vazir-font/dist/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../node_modules/vazir-font/dist/Vazir-Regular.woff2') format('woff2'),
       url('../../node_modules/vazir-font/dist/Vazir-Regular.woff') format('woff'),
       url('../../node_modules/vazir-font/dist/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazir-font/dist/Vazir-Bold.eot');
  src: url('../../node_modules/vazir-font/dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../node_modules/vazir-font/dist/Vazir-Bold.woff2') format('woff2'),
       url('../../node_modules/vazir-font/dist/Vazir-Bold.woff') format('woff'),
       url('../../node_modules/vazir-font/dist/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazir-font/dist/Vazir-Black.eot');
  src: url('../../node_modules/vazir-font/dist/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('../../node_modules/vazir-font/dist/Vazir-Black.woff2') format('woff2'),
       url('../../node_modules/vazir-font/dist/Vazir-Black.woff') format('woff'),
       url('../../node_modules/vazir-font/dist/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazir-font/dist/Vazir-Medium.eot');
  src: url('../../node_modules/vazir-font/dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../node_modules/vazir-font/dist/Vazir-Medium.woff2') format('woff2'),
       url('../../node_modules/vazir-font/dist/Vazir-Medium.woff') format('woff'),
       url('../../node_modules/vazir-font/dist/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazir-font/dist/Vazir-Light.eot');
  src: url('../../node_modules/vazir-font/dist/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../../node_modules/vazir-font/dist/Vazir-Light.woff2') format('woff2'),
       url('../../node_modules/vazir-font/dist/Vazir-Light.woff') format('woff'),
       url('../../node_modules/vazir-font/dist/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazir-font/dist/Vazir-Thin.eot');
  src: url('../../node_modules/vazir-font/dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('../../node_modules/vazir-font/dist/Vazir-Thin.woff2') format('woff2'),
       url('../../node_modules/vazir-font/dist/Vazir-Thin.woff') format('woff'),
       url('../../node_modules/vazir-font/dist/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


.p-inputtext {
  text-align: center;
}

body {
  background-color: var(--surface-b);
  direction: rtl;
  height: 100%;
  overflow-y: hidden;
  // margin: 0;
}

p, span, h1, h2, h3, h4, h5, h6, input, button, label, b, li, small, textarea, div {
  font-family: 'Vazir', primeicons !important;
}

.error {
  border: 1px solid tomato;
  border-radius: 1rem;
  background-color: tomato;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
  small {
    color: wheat;
  }
}

.note {
  small {
    font-size: 0.8rem;
    opacity: 0.5;
  }
}

.space {
  margin: 0.5rem;
}

.space-2 {
  margin: 1rem;
}

.space-3 {
  margin: 1.5rem;
}

.space-4 {
  margin: 2rem;
}

.space-h {
  margin: 0 0.5rem;
}

.space-2-h {
  margin: 0 1rem;
}

.space-3-h {
  margin: 0 1.5rem;
}

.space-4-h {
  margin: 0 2rem;
}

.space-v {
  margin: 0.5rem 0;
}

.space-2-v {
  margin: 1rem 0;
}

.space-3-v {
  margin: 1.5rem 0;
}

.space-4-v {
  margin: 2rem 0;
}

.p-rating-icon {
  margin-left: 0.5rem !important;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
